$font-1: "Raleway", arial, sans-serif;
$font-2: "Poppins Semi-Bold", arial, sans-serif;
$font-3: "Nunito", arial, sans-serif;
$font-4: "Myraid Pro", arial, sans-serif;

$text-color-1: #333333;
$text-color-2: #ffffff;
$text-color-3: #808080;
$text-color-4: #0b4bec;

$bg-1: linear-gradient(135deg, #0b4bec, #071d68);
$bg-2: #f3f2f2;
$bg-3: #ffffff;

$mobile-width: 599px;
$tablet-width: 600px;
$desktop-width: 1170px;
