@font-face {
  font-family: "Myraid Pro";
  src: url("../fonts/myraidPro.woff2") format("woff2"), url("../fonts/myraidPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito.woff2") format("woff2"), url("../fonts/nunito.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Semi-Bold";
  src: url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway.woff2") format("woff2"), url("../fonts/raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
