.card__text-field {
  margin-top: -13px;
  padding: 0 5px;
  padding-top: 20px;

  border: 1px solid #b2b2b2;
  border-top: none;
  border-bottom: none;
}

.card__title {
  font-family: $font-2;
  text-transform: uppercase;
  font-size: 20px;
  color: $text-color-1;
}

.card__text {
  margin-bottom: 20px;
  font-family: $font-1;
  font-size: 14px;
  color: $text-color-3;
}

.card__list {
  display: flex;
  justify-content: space-between;

  padding: 10px 5px;

  border: 1px solid #b2b2b2;
  border-top: none;
  border-bottom: none;
}

.card__item {
  font-family: $font-2;
  font-size: 12px;
  color: $text-color-3;
  text-align: center;
}

.card__btn {
  display: block;
  width: 100%;
  padding: 10px 0;

  font-family: $font-2;
  color: $text-color-2;

  background: $text-color-4;
}

.card__btn:hover {
  opacity: 0.5;
}

.card__btn:active {
  opacity: 0.3;
}


@media (min-width: $desktop-width) {
  .card {
    width: 550px;
    margin: 10px;
  }

  .card__text-field {
    padding: 0 10px;
    padding-top: 40px;
  }

  .card__text {
    font-size: 16px;
    line-height: 24px;
  }

  .card__list {
    padding: 10px 0;
    padding-bottom: 50px;
  }

  .card__item {
    width: 170px;
    padding: 10px 0;
    flex-grow: 1;
    border: 1px solid #b2b2b2;
    border-left: none;
  }

  .card__item:last-child {
    border-right: none;
  }
}
