.center {
  max-width: 425px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .center {
    max-width: 1024px;
  }
}

@media (min-width: $desktop-width) {
  .center {
    max-width: 1170px;
  }
}
