.faq {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  background-color: $bg-2;
}

.faq__list {
  width: 100%;
  margin-top: 20px;
}

.faq__item {
  margin: 10px;
  padding: 20px;

  font-family: $font-1;
  color: $text-color-3;
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  text-indent: 20px;


  background: $bg-3;
  border: 1px solid #dad9d9;
}

.faq__text--question {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.faq__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__toggle {
  width: 6px;
  height: 6px;
  margin: 2px;

  border: 2px solid #878787;
  border-bottom: none;
  border-left: none;

  transform: rotate(45deg);

  cursor: pointer;
}

.faq__toggle--rotate {
  transform: rotate(135deg);
}

.faq__text--nojs {
  display: block;
}

@media (min-width: $desktop-width) {
  .faq {
    padding: 100px 0;
  }

  .faq__item {
    padding: 20px 40px;
  }

  .faq__text {
    font-size: 16px;
    line-height: 24px;
  }
}
