.page-footer {
  padding: 50px 0;
  background-image: $bg-1;
  font-family: $font-1;
  color: $text-color-2;
  font-size: 12px;
}

.page-footer__copyright {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
