.services {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #b3b3b3;
}

.services__inner {
  width: 270px;
  margin: 0 auto;
  margin-top: 30px;
}

.services__item {
  margin-right: 20px;
  font-family: $font-1;
  text-align: center;
}

.services__text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  font-weight: bold;
}


@media (min-width: $desktop-width) {
  .services__inner {
    width: 1140px;
  }

  .services__item {
    width: 270px;
  }
}
