.slider {
  overflow-x: scroll;
}

.slider__arrow {
  display: none;
}

.slider__list {
  display: flex;
  justify-content: flex-start;
  transition-duration: 1s;
}

@media (min-width: $desktop-width) {
  .slider {
    overflow-x: hidden;
  }

  .slider__arrow {
    position: absolute;
    top: 65%;
    display: inline-block;
    cursor: pointer;
  }

  .slider__arrow--left {
    left: 2%;
  }

  .slider__arrow--right {
    right: 2%;
  }

  .slider__nojs {
    flex-wrap: wrap;
    justify-content: center;
  }
}
