.type {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #b3b3b3;
}

.type__inner {
  width: 280px;
  margin-top: 30px;
}

.type__item {
  margin-right: 20px;
  font-family: $font-1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .type__inner {
    width: 600px;
  }
}

@media (min-width: $desktop-width) {
  .type {
    padding-top: 130px;
    border: none;
  }

  .type__inner {
    width: 1130px;
    margin-top: 70px;
  }
}
